.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  margin: 0;
  background-color: #e9dada;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
  margin-top: 0;
  text-align: center;
}

.charts {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.charts canvas {
  background-color: white;
  border-radius: 5px;
  flex: 1;
  max-width: 48%;
  height: 200px;
}

.simulationGrid {
  margin: 0;
  display: inline-block;
  border: 2px solid black;
  border-radius: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  border: 2px solid #aca6a6;
  padding: 0;
  width: 28px;
  height: 28px;
  text-align: center;
  font-size: 1.26em;
}

td:empty:not(.cop, .speak) {
  background-color: #f0f0f0; /* Ajouter une couleur de fond pour les cellules vides */
}

.cop {
  background-color: rgb(188, 33, 33);
}

.speak {
  background-color: rgb(255, 152, 34);
}

.simulation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.words table {
  margin: 0;
  display: inline-block;
  border: 2px solid rgb(85, 85, 85);
  height: 350px;
  width: max-content;
  overflow: scroll;
  padding: 5px;
}

.words tr {
  padding: 0;
  text-align: center;
  font-size: 1em;
}

.words thead tr {
  background-color: #aca6a6;
  border: 1px solid gray;
}

.words {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Ajout de styles pour le formulaire */

.config-form {
  width: 300px;
  padding: 20px;
  border: 2px solid #aca6a6;
  border-radius: 5px;
  background-color: white;
  margin-top: 20px;
}

.config-form label {
  display: block;
  margin-bottom: 10px;
}

.config-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.config-form input[type="submit"] {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

.config-form {
  width: 300px;
  padding: 20px;
  border: 2px solid #aca6a6;
  border-radius: 5px;
  background-color: white;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
